
body{
    background-color : black;
}

/*Header Section*/
header{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    
}
.logo{
    width: 100px;
    height: auto;
}
.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row
}
.menu li{
    margin:10px !important; 
}
li a{
    color: white;
    text-decoration: none;
}

/*banner section*/
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    padding-top: 20;
    
}
hr{
    color: blue;
    width: 100%;
}

/*skills section*/
.good  {
    /*width: 32px;
    height: 32px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20%;
}

.icon-container{
    overflow: hidden;
    white-space: nowrap;
}
#icon{
    display: inline;
    animation: moveIcon 15s linear infinite;
}
@keyframes moveIcon{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(-1500px);
    }
}


/*projects section*/
.contact{
    display: flex;

}
.projects{
    width: 1500px;
    height: 500px;
}
.projects img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.pro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
h3{
    color: white;
    text-align: center;
    size: 70px;
}
h2{
    color: azure;
}
p{
    color: white;
}
.whatsapp{
    width: 50px;
    height: 50px;
}
.socials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.socials img{
    width: 20px;
    height: 20px;
    gap: -10px;
}
.mockup{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mockup img{
    width: 150px;
    height: 150px;
}


    